.cell {
  /* remove default button css */
  padding: 0;
  border: none;
  font: inherit;
  outline: inherit;
  /* remove default button css */
  width: 65px;
  height: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px 5px;
  background-color: #414141; /* for testing, TODO: need to make dynamic through config */
  position: relative;
}

.cell .candidate {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #929292;
  position: relative;
  /* remove default button css */
  padding: 0;
  border: none;
  font: inherit;
  background-color: inherit;
  outline: inherit;
}

.cell .candidate.highlight {
  font-weight: 600;
  color: aqua;
  /* color: #8383ef; << Nice purple but hard to see with dark mode*/
}

.cell .candidate.muted {
  color: #6f6f6f;
}

.cell .candidate .striked {
  position: absolute;
  right: 0px;
  stroke-width: 2px;
  stroke: rgb(143, 62, 89);
}

.cell-number {
  font-size: 40px;
  color: #b8b8ed;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.light-bg {
  background-color: #414141;
}

.dark-bg {
  background-color: #333333;
}

