.cell {
  /* remove default button css */
  padding: 0;
  font: inherit;
  outline: inherit;
  /* remove default button css */
  width: 67px;
  height: 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--color-surface-cell-default);
  position: relative;
  border: 1px solid var(--color-border-cell);
}

.cell.given {
  background-color: var(--color-surface-cell-given);
}

.cell.selected {
  background-color: var(--color-surface-cell-selected);
}

.cell .candidate {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-candidate);
  position: relative;
  /* remove default button css */
  padding: 0;
  border: none;
  font: inherit;
  background-color: inherit;
  outline: inherit;
  font-size: 18px;
}

.cell .candidate.highlight {
  font-weight: 600;
  color: var(--color-text-highlight);
  /* color: #8383ef; << Nice purple but hard to see with dark mode*/
}

.cell .candidate.muted {
  color: var(--color-text-muted);
  /* opacity: 0.5; */
}

.cell .candidate .striked {
  position: absolute;
  right: 0px;
  stroke-width: 2px;
  stroke: rgb(143, 62, 89);
}

.cellNumber {
  font-size: 50px;
  font-weight: 550;
  cursor: pointer;
  user-select: none;
  color: var(--color-text-number);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}




.light-bg {
  background-color: #414141;
}

.dark-bg {
  background-color: #333333;
}

