html {
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /*===============*/
  /* Color Palette */
  /*===============*/

  --color-surface-primary: var(--stone-10);
  /* --color-surface-primary: #414141; */
  /* --color-surface-secondary: var(--gray-9); Pretty good but not sure */
  --color-surface-secondary: #2c2c2c;
  --color-surface-accent: var(--purple-10);
  --color-surface-error: var(--red-4);

  --color-border-default: var(--stone-7);
  --color-border-subtle: var(--stone-8);

  --accent-primary: #f59e0b;
  --accent-secondary: #ef4444;
  --accent-tertiary: #8b5cf6;
  --accent-glow: rgba(245, 158, 11, 0.3);

  /* Text */
  --color-text-primary: var(--indigo-2);
  --color-text-secondary: var(--stone-6);
  --color-text-accent: var(--lime-5);
  --color-text-muted: var(--stone-8);
  --color-text-error: var(--red-9);

  /*===============*/
  /* Game mappings */
  /*===============*/
  --cell-bg-default: var(--color-surface-primary);
  --cell-bg-given: var(--color-surface-secondary);

  /* State overlays */
  --cell-bg-selected: var(--color-surface-accent);
  --cell-bg-error: var(--color-surface-error);

  --cell-text-number: var(--color-text-primary);
  --cell-text-candidate: var(--color-text-secondary);
  --cell-text-highlight: var(--color-text-accent);
  --cell-text-muted: var(--color-text-muted);
  --cell-text-error: var(--color-text-error);

  --cell-border-default: var(--color-border-default);

  /* 
  TODO:
    invalid
    conflict
    hint
    focus
  */

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  /* Border Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
  --transition-slow: 400ms ease;

  /* Shadows */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.3);
  --shadow-md: 0 4px 20px rgba(0, 0, 0, 0.4);
  --shadow-lg: 0 8px 40px rgba(0, 0, 0, 0.5);
  --shadow-glow: 0 0 30px var(--accent-glow);
}

/* ===== Base Styles ===== */
  body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;

  color-scheme: light dark;
  color: var(--color-text-primary);
  /* background: var(--bg-primary); */
  background: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
