html {
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /*===============*/
  /* Color Palette */
  /*===============*/

  --color-surface-primary: var(--stone-10);
  /* --color-surface-primary: #414141; */
  /* --color-surface-secondary: var(--gray-9); Pretty good but not sure */
  --color-surface-secondary: #2c2c2c;
  --color-surface-accent: var(--purple-10);
  --color-surface-error: var(--red-4);

  --color-border-default: var(--stone-7);
  --color-border-subtle: var(--stone-8);

  /* Text */
  --color-text-primary: var(--indigo-2);
  --color-text-secondary: var(--stone-6);
  --color-text-accent: var(--lime-5);
  --color-text-muted: var(--stone-8);
  --color-text-error: var(--red-9);

  /*===============*/
  /* Game mappings */
  /*===============*/
  --cell-bg-default: var(--color-surface-primary);
  --cell-bg-given: var(--color-surface-secondary);

  /* State overlays */
  --cell-bg-selected: var(--color-surface-accent);
  --cell-bg-error: var(--color-surface-error);

  --cell-text-number: var(--color-text-primary);
  --cell-text-candidate: var(--color-text-secondary);
  --cell-text-highlight: var(--color-text-accent);
  --cell-text-muted: var(--color-text-muted);
  --cell-text-error: var(--color-text-error);

  --cell-border-default: var(--color-border-default);

  /* 
  TODO:
    invalid
    conflict
    hint
    focus
  */
}

/* ===== Base Styles ===== */
  body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;

  color-scheme: light dark;
  color: var(--color-text-primary);
  /* background: var(--bg-primary); */
  background: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
