html {
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /* Color Palette */

  --color-surface-primary: #414141;
  --color-surface-secondary: #2c2c2c;
  --color-surface-selected: rgb(107, 54, 239, 0.45);

  --color-border-default: #8a8a8a; /* should not be the same as --color-text-primary - too much contrast*/
  --color-border-subtle: #6b6b6b;
  --color-border-subtle-2: #7d7d7d;
  --color-border-cell-strong: #9a9a9a;

  /* Text */
  --color-text-primary: #b8b8ed;
  --color-text-secondary: #929292;
  --color-text-accent: #2ef3c3; /*was: #00ffff*/
  --color-text-muted: #6f6f6f;
  /* --color-text-cell-error */

  /* Game mappings */
  --color-surface-cell-default: var(--color-surface-primary);
  --color-surface-cell-given: var(--color-surface-secondary);

  /* State overlays */
  --color-surface-cell-selected: var(--color-surface-selected);
  /* --color-surface-cell-error */

  --color-text-number: var(--color-text-primary);
  --color-text-candidate: var(--color-text-secondary);
  --color-text-highlight: var(--color-text-accent);

  --color-border-cell: var(--color-border-subtle-2);

  /* 
  TODO:
    invalid
    conflict
    hint
    focus
  */
}

/* ===== Base Styles ===== */
  body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;

  color-scheme: light dark;
  /* color: var(--text-primary); */
  color: rgba(255, 255, 255, 0.87);
  /* background: var(--bg-primary); */
  background: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
