.boxContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid var(--color-border-cell);
}

.borderLeftThick1 {
  border-right: 4px solid black;
}

.borderRightThick1 {
  border-right: 4px solid black;
}

.borderBottomThick1 {
  border-bottom: 4px solid black;
}
