.cell {
  width: 65px;
  height: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px 5px;
  background-color: #414141; /* for testing, TODO: need to make dynamic through config */
}

.cell .candidate {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828282;
  /* remove default button css */
  padding: 0;
  border: none;
  font: inherit;
  background-color: inherit;
  outline: inherit;
  /* background-color: lightgreen; */ /* for testing */
}

.cell .candidate.highlight {
  font-weight: 600;
  color: aqua;
}

.light-bg {
  background-color: #414141;
}

.dark-bg {
  background-color: #333333;
}

