.container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid var(--color-border-cell);
}
