.house-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #b8b8ed;
}

.house-cell-container {
  display: flex;
}

.border-left-thick-1 {
  border-right: 4px solid black;
}

.border-right-thick-1 {
  border-right: 4px solid black;
}

.border-bottom-thick-1 {
  border-bottom: 4px solid black;
}
